{% extends "App/base.html" %}

{% block main %}
<section id="about" class="about-section">
    <div class="container">
        <h1 class="header-txt">Acerca de Nosotros</h1>
        <!-- Subtítulo agregado -->
        <h2 class="subheader-txt">Diez años en la mesa de los argentinos</h2>
        <div class="divider"></div>
        
        <!-- Imagen representativa de la empresa -->
        <div class="about-image-container">
            <img src="https://i.ibb.co/JyQqzK6/imagen.png" alt="Nuestra Empresa" class="about-image" />
        </div>

        <p class="about-text">
            Somos una empresa con más de 10 años de experiencia en el sector agrícola. 
            Nos especializamos en la producción de frutas y verduras de la más alta calidad, 
            cultivadas en hectáreas de terrenos con prácticas 100% orgánicas. 
            Nuestra misión es llevar productos frescos, saludables y llenos de sabor directamente a la mesa de todos los argentinos.
        </p>

        <p class="about-text">
            A lo largo de los años, hemos crecido y evolucionado, adaptándonos a las demandas del mercado, 
            pero siempre manteniendo nuestro compromiso con la calidad, la sostenibilidad y el respeto por el medio ambiente. 
            Creemos en la importancia de trabajar en armonía con la naturaleza para garantizar alimentos frescos, 
            nutritivos y respetuosos con el entorno.
        </p>

        <p class="about-text">
            Nos enorgullece ser una empresa familiar, con valores que nos impulsan a seguir creciendo y llevando 
            el sabor de la naturaleza a cada rincón del país.
        </p>
    </div>
</section>
{% endblock %}

