{% extends "App/base.html" %}
{% load static %}

{% block main %}

<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bienvenida</title>
</head>
<body>
  <section id="bienvenida" class="bienvenida-section">
    <div class="container">
      <h2 class="header-txt">¡Bienvenido! Gracias por elegirnos.</h2>
      <p class="bienvenida-text">Nos sentimos muy agradecidos de que hayas elegido nuestro servicio. Tu confianza es muy importante para nosotros, y estamos comprometidos a ofrecerte una excelente experiencia cada vez que nos elijas.</p>
      <p class="bienvenida-text">En esta sección podrás ver tus compras anteriores y realizar nuevas compras con facilidad. ¡Explora y disfruta de todo lo que tenemos para ofrecerte!</p>
      
      <!-- Si el usuario tiene compras previas -->
      {% if compras %}
        <h3>Tus compras anteriores:</h3>
        <ul>
          {% for compra in compras %}
            <li>{{ compra.producto.descripcion }} - {{ compra.cantidad }} - ${{ compra.precio }} - {{ compra.nro_compra }} - {{ compra.fecha_compra }}</li>
          {% endfor %}
        </ul>
      {% else %}
        <p>No has realizado compras aún.</p>
      {% endif %}
      
      <!-- Botón para realizar una compra -->
      <a href="{% url 'formulario_compra' %}" class="btn btn-primary">Realizar una compra</a>
    </div>
  </section>
</body>
</html>

{% endblock main %}
