{% extends "App/base.html" %}
{% load static %}
{% block main %}

<section id="bienvenida" class="bienvenida-section">
  <div class="container">
    <h2 class="header-txt">¡Bienvenido! Estamos felices de que vuelvas a elegirnos.</h2>
    <p class="bienvenida-text">Tu apoyo y preferencia significan mucho para nosotros. Nos llena de alegría saber que elegiste nuevamente nuestro servicio. Queremos que disfrutes cada momento con nosotros y que tu experiencia sea siempre memorable.</p>
    <p class="bienvenida-text">Gracias por confiar en nosotros. ¡Estamos aquí para brindarte lo mejor!</p>
  </div>

  <!-- Botón para redirigir al formulario de reseñas -->
  <div class="add-review-btn">
    <a href="{% url 'formulario_cliente' %}" class="btn">registrarse como cliente</a>
  </div>
</section>

<!-- Imagen adicional con el texto "10 años en la mesa de los argentinos" -->
<section id="clientes" class="clientes-section">
  <div class="container">
    <h3 class="clientes-title">10 años en la mesa de los argentinos</h3>
    <div class="clientes-image">
      <img src="https://i.ibb.co/1T1zwR6/clientes.png" alt="10 años en la mesa de los argentinos" class="clientes-img">
    </div>
  </div>
</section>

{% endblock main %}

