<!doctype html>
{% load static %}
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Veggie</title>
    <!-- Cargando el archivo CSS estático de tu aplicación -->
    <link rel="stylesheet" href="{% static 'App/css/app.css' %}">
    <!-- Los enlaces a los archivos CSS externos no necesitan cambios -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick-theme.css" />
    <script src="https://unpkg.com/scrollreveal@4.0.0-beta.6"></script>
</head>

<body>
    <header class="site-header">
        <div class="container">
            <div class="header-content">
                <div class="top-menu scroll-reveal">
                    <div class="menu">
                        <nav id="main-nav" data-animate="menu-in menu-out">
                            <ul class="main-navigation">
                                <li><a class="m-anim" href="{% url 'about' %}" data-text="Sobre nosotros">Sobre nosotros</a></li>
                                <li><a class="m-active" href="{% url 'inicio' %}" data-text="Inicio">Inicio</a></li>
                                <li><a class="m-anim" href="{% url 'clientes' %}" data-text="Clientes">Clientes</a></li>
                                <li><a class="m-anim" href="{% url 'productos' %}" data-text="Productos">Productos</a></li>
                                <li><a class="m-anim" href="{% url 'compra' %}" data-text="Compras">Compras</a></li>
                                <li><a class="m-anim" href="{% url 'resenas' %}" data-text="Reseñas">Reseñas</a></li>
                                <li><a class="m-anim" href="{% url 'Login' %}" data-text="Login">Iniciar sesión</a></li> 
                                <li><a class="m-anim" href="{% url 'Logout' %}" data-text="Logout">Cerrar sesión</a></li> 
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

       

        <div class="slider">
            <div class="a-slide slide1">
                <div class="container">
                    <div class="bottom-section scroll-reveal" data-origin="right" data-distance="20%">
                        <h1 class="header-txt">HACETE BIEN</h1>
                        <div class="divider">
                        </div>
                    </div>
                </div>
            </div>
            <div class="a-slide slide2">
                <div class="container">
                    <div class="bottom-section">
                        <h1 class="header-txt">PRECIOS BAJOS TODOS LOS DIAS</h1>
                        <div class="divider">

                        </div>
                    </div>
                </div>
            </div>
        </div>
         <!-- Nuevo título y contenedor de imagen -->
         <div class="veggie-header">
            <h2 class="veggie-title">VEGGIE</h2>
            <div class="veggie-image-container">
             
            </div>
        </div>
    </header>
</body>



    </header>

    <section class="category-icons">
        <div class="container">
            <div class="yellow-content">
                <div class="icon">
                    <h3 class="scroll-reveal" data-origin="top" data-distance="20%">FURTAS</h3>
                    <p class="scroll-reveal" data-distance="0" data-duration="500">Todas frescas y organicas.</p>
                </div>
                <div class="icon">
                    <h3 class="scroll-reveal" data-origin="top" data-distance="20%">VERDURAS</h3>
                    <p class="scroll-reveal" data-distance="0" data-duration="500">Todas frescas y organicas.</p>
                </div>
                <div class="icon">
                    <h3 class="scroll-reveal" data-origin="top" data-distance="20%">COMIDAS CASERAS</h3>
                    <p class="scroll-reveal" data-distance="0" data-duration="900">Hecho como en casa, cumpliendo los estandares de calidad..</p>
                </div>
            </div>
            <!--.yellow-content-->
        </div>
        <!--.container-->
    </section>
    <!--.category-icons-->

    <section id="Que vas a encontrar en este sitio web?" class="Que vas a encontrar en este sitio web?">
        <div class="container">
            <div class="about-content">
                <h1 class="header-txt scroll-reveal">Que vas a encontrar en este sitio web?</h1>
                <div class="divider scroll-reveal">
                    <?xml version="1.0" encoding="utf-8"?>
                    <!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1930 255.5" style="enable-background:new 0 0 1930 255.5;" xml:space="preserve">
                                <style type="text/css">
                                    .st0{fill:none;stroke:#3c3c3c;stroke-width:10;stroke-linecap:square;stroke-miterlimit:10;}
                                </style>
                                <polyline class="st0" points="1224,171.8 1181.3,171.8 1139.2,129.6 1065,203.9 970.5,110.4 876,203.6 801.8,129.4 759.7,171.5 
                                    717,171.5 "/>
                                <polyline class="st0" points="5,131.5 757.3,131.5 801.8,176.1 885.9,91.9 868.3,74.2 831.5,111 870.4,149.9 970.2,50.2 1070,149.9 
                                    1108.8,111 1072.1,74.2 1054.4,91.9 1138.5,176.1 1183.1,131.5 1925,131.5 "/>
                                <rect x="921.9" y="26.7" transform="matrix(0.7071 -0.7071 0.7071 0.7071 231.426 707.2043)" class="st0" width="95" height="95"/>
                                <rect x="921.9" y="99.7" transform="matrix(0.7071 -0.7071 0.7071 0.7071 179.8072 728.5855)" class="st0" width="95" height="95"/>
                                <rect x="940.3" y="178.1" transform="matrix(0.7071 -0.7071 0.7071 0.7071 137.3893 746.1556)" class="st0" width="58.2" height="58.2"/>
                                </svg>
                </div>
                <!--.divider-->
                <p class="scroll-reveal" data-origin="top" data-distance="10%">  Gestiona tus compras online, mira nuestra carta y stock en vivo y en directo, dejanos tu opinion!</p>

            </div>
        </div>
        <!--.container-->
    </section>
    <!--.about-->

    <section id="productos" class="menu-cart scroll-reveal">
        <div class="container">
            <h1 class="header-txt">Productos</h1>
            <div class="divider">
                <?xml version="1.0" encoding="utf-8"?>
                <!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1930 255.5" style="enable-background:new 0 0 1930 255.5;" xml:space="preserve">
                                <style type="text/css">
                                    .st0{fill:none;stroke:#3c3c3c;stroke-width:10;stroke-linecap:square;stroke-miterlimit:10;}
                                </style>
                                <polyline class="st0" points="1224,171.8 1181.3,171.8 1139.2,129.6 1065,203.9 970.5,110.4 876,203.6 801.8,129.4 759.7,171.5 
                                    717,171.5 "/>
                                <polyline class="st0" points="5,131.5 757.3,131.5 801.8,176.1 885.9,91.9 868.3,74.2 831.5,111 870.4,149.9 970.2,50.2 1070,149.9 
                                    1108.8,111 1072.1,74.2 1054.4,91.9 1138.5,176.1 1183.1,131.5 1925,131.5 "/>
                                <rect x="921.9" y="26.7" transform="matrix(0.7071 -0.7071 0.7071 0.7071 231.426 707.2043)" class="st0" width="95" height="95"/>
                                <rect x="921.9" y="99.7" transform="matrix(0.7071 -0.7071 0.7071 0.7071 179.8072 728.5855)" class="st0" width="95" height="95"/>
                                <rect x="940.3" y="178.1" transform="matrix(0.7071 -0.7071 0.7071 0.7071 137.3893 746.1556)" class="st0" width="58.2" height="58.2"/>
                                </svg>
            </div>
            <!--.divider-->

            <div class="tabs-content" data-tabs-content="example-tabs">
                <div class="tabs-panel is-active" id="panel1">
                    <div class="menu-content">
                        <div class="menu-section">
                            <table>
                                <tr>
                                    <td><span>TARTA DE VERDURAS ASADAS</span></td>
                                    <td><span>$12</span></td>
                                </tr>
                                <tr>
                                    <td>masa crujiente rellena de una mezcla de verduras asadas como calabacín, berenjena, tomate, cebolla y pimientos, con queso de cabra o ricotta</td>
                                </tr>
                                <tr>
                                    <td><span>ENSALADA MEDITERRÁNEA</span></td>
                                    <td><span>$10</span></td>
                                </tr>
                                <tr>
                                    <td>pepino, tomate, aceitunas, cebolla roja, pimientos, albahaca y aderezo de aceite de oliva</td>
                                </tr>
                                <tr>
                                    <td><span>FALAFEL CON HUMMUS Y ENSALADA DE TAHINI</span></td>
                                    <td><span>$14</span></td>
                                </tr>
                                <tr>
                                    <td>bolitas de garbanzo fritas, acompañadas de hummus cremoso y ensalada fresca de pepino, tomate y lechuga con aderezo de tahini</td>
                                </tr>
                                <tr>
                                    <td><span>TARTA DE TOMATE Y PESTO</span></td>
                                    <td><span>$13</span></td>
                                </tr>
                                <tr>
                                    <td>masa quebrada rellena con tomate fresco, pesto y queso mozzarella derretido</td>
                                </tr>
                                <tr>
                                    <td><span>ENSALADA DE QUINOA Y AGUACATE</span></td>
                                    <td><span>$12</span></td>
                                </tr>
                                <tr>
                                    <td>quinoa cocida con aguacate, pepino, zanahoria rallada, espinacas y un toque de limón y aceite de oliva</td>
                                </tr>
                                <tr>
                                    <td><span>SOUPA DE CALABAZA Y JENGIBRE</span></td>
                                    <td><span>$9</span></td>
                                </tr>
                                <tr>
                                    <td>sopa suave y cremosa de calabaza asada con un toque de jengibre, acompañada de pan integral</td>
                                </tr>
                                <tr>
                                    <td><span>BERENJENAS A LA PARMESANA</span></td>
                                    <td><span>$15</span></td>
                                </tr>
                                <tr>
                                    <td>capas de berenjena empanada, salsa de tomate, mozzarella y parmesano, horneadas hasta quedar doradas</td>
                                </tr>
                                <tr>
                                    <td><span>TACOS VEGETARIANOS CON VERDURAS</span></td>
                                    <td><span>$14</span></td>
                                </tr>
                                <tr>
                                    <td>tortillas de maíz rellenas de verduras asadas como calabacín, pimientos, cebolla y un toque de guacamole y salsa</td>
                                </tr>
                            </table>
                        </div>
                        <!--.menu-section-->
                        <div class="menu-section">
                            <table>
                                <tr>
                                    <td><span>TARTA DE VERDURAS ASADAS</span></td>
                                    <td><span>$12</span></td>
                                </tr>
                                <tr>
                                    <td>masa crujiente rellena de una mezcla de verduras asadas como calabacín, berenjena, tomate, cebolla y pimientos, con queso de cabra o ricotta</td>
                                </tr>
                                <tr>
                                    <td><span>ENSALADA MEDITERRÁNEA</span></td>
                                    <td><span>$10</span></td>
                                </tr>
                                <tr>
                                    <td>pepino, tomate, aceitunas, cebolla roja, pimientos, albahaca y aderezo de aceite de oliva</td>
                                </tr>
                                <tr>
                                    <td><span>FALAFEL CON HUMMUS Y ENSALADA DE TAHINI</span></td>
                                    <td><span>$14</span></td>
                                </tr>
                                <tr>
                                    <td>bolitas de garbanzo fritas, acompañadas de hummus cremoso y ensalada fresca de pepino, tomate y lechuga con aderezo de tahini</td>
                                </tr>
                                <tr>
                                    <td><span>TARTA DE TOMATE Y PESTO</span></td>
                                    <td><span>$13</span></td>
                                </tr>
                                <tr>
                                    <td>masa quebrada rellena con tomate fresco, pesto y queso mozzarella derretido</td>
                                </tr>
                                <tr>
                                    <td><span>ENSALADA DE QUINOA Y AGUACATE</span></td>
                                    <td><span>$12</span></td>
                                </tr>
                                <tr>
                                    <td>quinoa cocida con aguacate, pepino, zanahoria rallada, espinacas y un toque de limón y aceite de oliva</td>
                                </tr>
                                <tr>
                                    <td><span>SOUPA DE CALABAZA Y JENGIBRE</span></td>
                                    <td><span>$9</span></td>
                                </tr>
                                <tr>
                                    <td>sopa suave y cremosa de calabaza asada con un toque de jengibre, acompañada de pan integral</td>
                                </tr>
                                <tr>
                                    <td><span>BERENJENAS A LA PARMESANA</span></td>
                                    <td><span>$15</span></td>
                                </tr>
                                <tr>
                                    <td>capas de berenjena empanada, salsa de tomate, mozzarella y parmesano, horneadas hasta quedar doradas</td>
                                </tr>
                                <tr>
                                    <td><span>TACOS VEGETARIANOS CON VERDURAS</span></td>
                                    <td><span>$14</span></td>
                                </tr>
                                <tr>
                                    <td>tortillas de maíz rellenas de verduras asadas como calabacín, pimientos, cebolla y un toque de guacamole y salsa</td>
                                </tr>
                            </table>
                        </div>
                        <!--.menu-section-->
                    </div>
                    <!--.menu-content-->
                </div>
                <!--#panel1-->


    <a href="#0" class="cd-top">Top</a>

    <footer id="contact-us">
        <div class="container">
            <div class="footer-content">
                <h1 class="header-txt scroll-reveal">Contactanos</h1>
                <div class="divider scroll-reveal">
                    <?xml version="1.0" encoding="utf-8"?>
                    <!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) -->
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1930 255.5" style="enable-background:new 0 0 1930 255.5;" xml:space="preserve">
                        <style type="text/css">
                            .st0{fill:none;stroke:#3c3c3c;stroke-width:10;stroke-linecap:square;stroke-miterlimit:10;}
                        </style>
                        <polyline class="st0" points="1224,171.8 1181.3,171.8 1139.2,129.6 1065,203.9 970.5,110.4 876,203.6 801.8,129.4 759.7,171.5 
                            717,171.5 "/>
                        <polyline class="st0" points="5,131.5 757.3,131.5 801.8,176.1 885.9,91.9 868.3,74.2 831.5,111 870.4,149.9 970.2,50.2 1070,149.9 
                            1108.8,111 1072.1,74.2 1054.4,91.9 1138.5,176.1 1183.1,131.5 1925,131.5 "/>
                        <rect x="921.9" y="26.7" transform="matrix(0.7071 -0.7071 0.7071 0.7071 231.426 707.2043)" class="st0" width="95" height="95"/>
                        <rect x="921.9" y="99.7" transform="matrix(0.7071 -0.7071 0.7071 0.7071 179.8072 728.5855)" class="st0" width="95" height="95"/>
                        <rect x="940.3" y="178.1" transform="matrix(0.7071 -0.7071 0.7071 0.7071 137.3893 746.1556)" class="st0" width="58.2" height="58.2"/>
                    </svg>
                </div>
                <!--.divider-->
                <div class="contact-info scroll-reveal">
                    <div class="info-address">
                        <h3>Ubicacion</h3>
                        <p>1234 New Street Name<br>City, State 12345</p>
                    </div>
                    <div class="Datos de contacto">
                        <h3>Datos de contacto</h3>
                        <p>consultas@veggie.com<br>+48 202-555-0114</p>
                    </div>
                </div>
                
                <!--.social-icons-->
            </div>
            <!--.footer-content-->
            <p class="copy-info">Copyright 2024 © by MICAELA CASALNUOVO 29-12-2024</p>
        </div>
        <!--.container-->
    </footer>
    
    <div id="preloader">
        <div class="loader">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/what-input/5.0.2/what-input.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/js/foundation.js"></script>
    <script src="js/app.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.js"></script>
    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>

    <script type="text/javascript">
        $('.slider').slick({
            infinite: true,
            autoplay: true,
            autoplaySpeed: 3500,
            arrows: false,
            fade: true,
            cssEase: 'linear'
        });

    </script>

    <script>
        $(window).on('load', function() {
            $("#preloader").fadeOut();
        });
    </script>

</body>

</html>
